<!doctype html>

<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <div id="app">
        <span id="working" v-if="isWorking" class="line-bg">Working...</span>
        <span id="error" class="error-bg">{{ error }}</span>
        
        <div id="login-box" v-if="!isLogin && !isWorking" class="panel panel-success text-center">
            <div class="panel-heading">
                <h3 class="panel-title">Little Brown Book Shop</h3>
            </div>
            <div class="panel-body">
                <p class="card-text">Please login to continue.</p>
                <a href="javascript:void(0)" @click="login"><img src="/images/btn_login_base.png"></a>
            </div>
        </div>

        <div id="user-box" v-if="isLogin" class="header">
            <img v-bind:src="user.picture" class="avartar img-circle">
            {{ user.name }}
            <button @click="logout" type="button" class="btn btn-default btn-sm">Logout</button>
        </div>

        <div class="container-fluid" v-if="isLogin && !isCheckout">
            <div class="row">
                <div class="col-md-8">
                    <div id="products-box" class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h3 class="panel-title">Please select product</h3>
                        </div>
                        <div class="panel-body">
                            <product-box
                                v-for="product in products"
                                v-bind:key="product.id"
                                v-bind:product="product"
                                v-on:add-to-cart="addToCart"
                            ></product-box>
                        </div>
                    </div>
                </div>        
        
                <div class="col-md-4">
                    <div id="cart-box" class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Cart</h3>
                        </div>
                        <div class="panel-body">
                            <table id="cart-items-box" v-if="cart.items.length > 0" class="table table-striped">
                                <thead class="line-bg">
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col" colspan="2">Description</th>
                                        <th scope="col" class="text-right">Amount</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr is="cart-item-box" class="cart-item-box"
                                        v-for="(item, index) in cart.items"
                                        v-bind:key="index"
                                        v-bind:index="index"
                                        v-bind:item="item"
                                        v-on:remove-from-cart="removeFromCart">
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="text-bold">Subtotal</td>
                                        <td class="text-bold text-right">{{ thb(cart.subtotal) }}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="text-bold">Discount</td>
                                        <td class="text-bold text-right text-red">{{ thb(cart.total-cart.subtotal) }}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="text-bold">Total</td>
                                        <td class="text-bold text-right">{{ thb(cart.total) }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="text-center">
                                <button v-if="cart.items.length > 0" @click="checkout" type="button" class="btn btn-lg btn-success">Checkout</button>
                                <button v-if="cart.items.length > 0" @click="nextOrder" type="button" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="receipt-box" v-if="isLogin && isCheckout" class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Order completed</h3>
            </div>
            <div class="panel-body">
                <!-- <div>Receipt No: </div> -->
                <table class="table table-striped">
                    <thead class="line-bg">
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Description</th>
                            <th scope="col" class="text-right">Price</th>
                            <th scope="col" class="text-right">Discount</th>
                            <th scope="col" class="text-right">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr is="order-item-box" class="order-item-box"
                            v-for="(item, index) in receipt.items"
                            v-bind:key="index"
                            v-bind:index="index"
                            v-bind:item="item">
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td class="text-bold">Total</td>
                            <td class="text-bold text-right">{{ thb(receipt.subtotal) }}</td>
                            <td class="text-bold text-right text-red">{{ thb(receipt.total-receipt.subtotal) }}</td>
                            <td class="text-bold text-right">{{ thb(receipt.total) }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="3" class="text-bold">Cash</td>
                            <td class="text-bold text-right">{{ thb(receipt.cash) }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="3" class="text-bold">Change</td>
                            <td class="text-bold text-right">{{ thb(receipt.change) }}</td>
                        </tr>
                    </tfoot>
                </table>
                <div class="text-center"
                    ><button @click="nextOrder" type="button" class="btn btn-lg btn-success">Proceed next order</button>
                </div>
            </div>
        </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
    <script src="https://unpkg.com/vue@2.6"></script>
    <script src="/js/app.js"></script>
</body>

</html>